numpy~=2.4
pandas~=3.0
matplotlib~=3.10
scikit-learn~=1.9
imbalanced-learn~=0.14
ipython~=9.12

tensorflow~=2.21
tensorboard~=2.21

jupyterlab
ipykernel
notebook

opencv-python
pillow

plotly
seaborn

xgboost
lightgbm
catboost

optuna
shap

tqdm
rich
joblib